<% include partials/header %>
	<div class="row">
		<!-- Show process -->
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-9">
					<h1>Procesos Abiertos</h1>
				</div>
				<div class="col-md-3">
					<a id="new-process-sign" href="#"><h2 class="glyphicon glyphicon-plus"></h2></a>
				</div>
			</div>
			<ul class="list-group" id="todo-list">
				<% todos.forEach(function(todo){ %>
					<li class="list-group-item" id="list<%=todo._id%>" >
						<div class="row">
							<div class="col-md-9">
								<span class="lead" id="<%=todo._id%>">
									<%= todo.name %>
								</span>
							</div>
							<div class="col-md-3">
								<img src="/img/medal.svg" class="svg <%= "svg"+todo.client.clientTypeNumber %>" alt="">
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" id="progress<%=todo._id%>" role="progressbar"
  								aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width:">
							</div>
						</div>
						<div class="pull-right">
							<button class="btn btn-sm btn-primary edit-button" id="button<%=todo._id%>">Editar</button>
							<button type="button" class="btn btn-sm btn-info close-button" id="close<%=todo._id%>" data-toggle="modal" data-target="#closeForm">Cerrar</button>
						</div>
						<div class="clearfix"></div>
					</li>
				<% }); %>
			</ul>
		</div><!-- End Show process -->

		<!-- Create new Process -->
		<div class="col-md-6">
			<div id="new-process">
				<h1>Crear Proceso</h1>
				<form action="/todos" method="POST" autocomplete="off" id="new-process-form">
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-6" for="name">Nombre del proceso</label>
							<input type="text" name="todo[name]" class="form-control col-md-9" placeholder="Carretillero puerto" id="name">
							<input type="text" name="todo[stateNumber]" class="hidden" value=0 id="stateNumber">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-8">
							<label for="client" class="col-md-3">Cliente</label>
							<input type="text" name="todo[client]" class="form-control col-md-9" id="client" list="json-datalist">
							<datalist id="json-datalist"></datalist>
						</div>
						<div class="form-group col-md-4">
							<label class="col-md-3" for="clientTypeNumber">Tipo</label>
							<select class="form-control col-md-9" name="todo[clientTypeNumber]" id="clientTypeNumber">
								<option selected>Elegir...</option>
								<option value="1">Platino</option>
								<option value="2">Oro</option>
								<option value="3">Plata</option>
								<option value="4">Bronce</option>
								<option value="5">Estrategico/Clave</option>
								<option value="6">A exito</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-md-3" for="priorityNumber">Prioridad</label>
							<select class="form-control col-md-9" name="todo[priorityNumber]" id="priorityNumber">
								<option selected>Elegir...</option>
								<option value="1">Alta</option>
								<option value="2">Normal</option>
								<option value="3">Baja</option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-3" for="selection">Selección</label>
							<select class="form-control col-md-9" name="todo[processType]" id="selection">
								<option selected>Elegir...</option>
								<option value="Recurrente">Recurrente</option>
								<option value="Habitual">Habitual</option>
								<option value="Agil y de expertise">Agil y de expertise</option>
								<option value="Estrategica y de impacto">Estratégica y de impacto</option>
								<option value="Otra">Otra</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-md-3" for="createAt">Inicio</label>
							<input type="date" name="todo[createAt]" class="form-control col-md-9" value="<%=moment().format('YYYY-MM-DD') %>" id="createAt">
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-3" for="dateDelivery">Entrega</label>
							<input type="date" name="todo[dateDelivery]" class="form-control col-md-9" id="dateDelivery">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-md-3" for="office">Oficina</label>
							<input type="text" name="todo[office]" class="form-control col-md-9" placeholder="Barcelona" id="office">
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-3" for="assignUser">Responsable</label>
							<input type="text" name="todo[assignUser]" class="form-control col-md-9" placeholder="Usuario" id="assignUser">
						</div>
					</div>
					<button class="btn btn-block btn-primary">Crear</button>
				</form>
			</div>
		</div><!-- end create new process -->

		<!-- Edit Process -->
		<div class="col-md-6">
			<div id="edit-process">
				<div class="row">
					<div class="col-md-9">
						<h1>Editar Proceso</h1>
					</div>
					<div class="col-md-3">
						<a id="edit-process-close" href="#"><h2 class="glyphicon glyphicon-remove"></h2></a>
					</div>
				</div>
				<form action="" method="POST" id="edit-process-form">
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-6" for="name">Nombre del proceso</label>
							<input type="text" class="hidden" value="" id="edit_processId">
							<input type="text" name="todo[name]" class="form-control col-md-9" value="" id="name">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-8">
							<label for="client" class="col-md-3">Cliente</label>
							<input type="text" class="form-control col-md-9" value="" id="client" disabled>
						</div>
						<div class="form-group col-md-4">
							<label class="col-md-3" for="clientTypeNumber">Tipo</label>
							<input type="number" class="form-control hidden" value="" id="clientTypeNumber" disabled>
							<input type="text" class="form-control col-md-9" value="" id="clientType" disabled>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-md-3" for="priorityNumber">Prioridad</label>
							<select class="form-control col-md-9" name="todo[priorityNumber]" id="priorityNumber" value="">
								<option value="1">Alta</option>
								<option value="2">Normal</option>
								<option value="3">Baja</option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-3" for="selection">Selección</label>
							<input type="text" class="form-control col-md-9" value="" id="selection" disabled>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-md-3" for="createAt">Inicio</label>
							<input type="date" class="form-control col-md-9" value="" id="createAt" disabled>
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-3" for="dateDelivery">Entrega</label>
							<input type="date" name="todo[dateDelivery]" class="form-control col-md-9" value="" id="dateDelivery">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-md-3" for="office">Oficina</label>
							<input type="text" name="todo[office]" class="form-control col-md-9" value="" id="office">
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-3" for="assignUser">Responsable</label>
							<input type="text" name="todo[assignUser]" class="form-control col-md-9" value="" id="assignUser">
						</div>
					</div>
					<button class="btn btn-block btn-primary">Actualizar</button>
				</form>
			</div>
		</div><!-- end edit process -->

	</div><!-- cierra row -->


	<!-- Modal -->
	<div id="closeForm" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h2 class="modal-title">Cerrar Proceso</h2>
	      </div>
	      <div class="modal-body">
					<form id="close-process-form">
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-6" for="name">Nombre del proceso</label>
								<input type="text" class="form-control col-md-9" value="" id="modal-name" disabled>
								<input type="text" class="hidden" value="" name="todo[id]" id="modal-id">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-3" for="stateNumber">Estado</label>
								<select class="form-control col-md-9" name="todo[stateNumber]" id="stateNumber">
									<option value="1">Cerrado</option>
									<option value="2">Anulado</option>
									<option value="3">Anulado por cliente</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-6">
								<label class="col-md-3" for="closeOrigin">Procendencia</label>
								<select class="form-control col-md-9" name="todo[closeOrigin]" id="closeOrigin">
									<option value="1">TalentPool</option>
									<option value="2">No TalentPool</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label class="col-md-3" for="dateDelivered">Finalizado</label>
								<input type="date" name="todo[dateDelivered]" class="form-control col-md-9" value="<%= moment().format('YYYY-MM-DD') %>" id="dateDelivered" disabled>
							</div>
						</div>
						<button class="btn btn-block btn-default save-modal">Guardar Proceso</button>
					</form>
	      </div>
	      <div class="modal-footer">
					<span class="pull-left proccessTime"></span>
	        <button type="button" class="btn btn-default btn-danger cancel-modal" data-dismiss="modal">Cancelar</button>
	      </div>
	    </div>
	  </div>
	</div>

<% include partials/footer %>
