<% include partials/header %>
	<div class="row">
		<!-- Show proceses -->
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-9">
					<h1>Procesos Abiertos</h1>
				</div>
				<div class="col-md-3">
					<% if((currentUser) || (currentUser && currentUser.isAdmin)){ %>
					<a id="new-process-sign" href=""><h2 class="glyphicon glyphicon-plus"></h2></a>
					<% } %>
				</div>
			</div>
			<% if(currentUser){ %>
				<div class="row filtros">
					<div class="col-md-2">
						<span>Filtros: </span>
					</div>
					<div class="col-md-10">
						<ul class="list-inline">
							<li><a href="#">Todos</a></li>
							<li><a href="#"><%= currentUser.username %></a></li>
						</ul>
					</div>
				</div>
			<% } %>
			<ul class="list-group" id="todo-list">
				<% todos.forEach(function(todo){ %>
					<li class="list-group-item" id="list<%=todo._id%>" data-item="<%=todo._id%>" >
						<div class="row">
							<div class="col-md-8">
								<span class="lead" id="<%=todo._id%>">
									<%= todo.name %>
								</span>
							</div>
							<div class="col-md-4">
								<img src="/img/medal.svg" class="pull-right svg <%= "svg"+todo.client.clientTypeNumber %>" alt="">
								<img src="" class="pull-right selection-image" id="selection-image<%=todo._id%>">
								<div id="bio-image<%=todo._id%>" class="pull-right bio-image">
									<div id="initials-container<%=todo._id%>" class="pull-right initials-container">
									</div>
								</div>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" id="progress<%=todo._id%>" role="progressbar"
  								aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width:">
							</div>
						</div>
						<div class="pull-right">
							<% if(((currentUser && todo.assignUser._id.equals(currentUser._id )) || (currentUser && currentUser.isAdmin))){ %>
							<a href="#" class="dropdown-toggle change-actions btn btn-sm btn-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acciones
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu actions">
								<li class="change-state">
									<a href="#">Cambiar estados</a>
								</li>
							</ul>
							<button class="btn btn-sm btn-primary edit-button">Editar</button>
							<button type="button" class="btn btn-sm btn-info close-button" data-toggle="modal" data-target="#closeForm">Cerrar</button>
							<% } %>
						</div>
						<div class="clearfix"></div>
					</li>
				<% }); %>
			</ul>
		</div><!-- End Show proceses -->

		<!-- Create new Process -->
		<div class="col-md-6">
			<div id="new-process">
				<div class="row">
					<div class="col-md-12">
						<h1>Crear Proceso</h1>
					</div>
				</div>
				<form action="/todos" method="POST" id="new-process-form">
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-6" for="new-process-name">Nombre del proceso</label>
							<input type="text" name="todo[name]" class="form-control col-md-9" placeholder="Carretillero puerto" id="new-process-name">
							<input type="text" name="todo[stateNumber]" class="hidden" value=0 id="new-process-stateNumber">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-8">
							<label for="new-process-client" class="col-md-3">Cliente</label>
							<select	name="todo[client]" class="form-control col-md-9" id="new-process-client">
								<option>Elige un cliente</option>
							</select>
							<!-- <input type="text" name="todo[client]" class="form-control col-md-9" id="client" list="json-datalist">
							<datalist id="json-datalist"></datalist> -->
						</div>
						<div class="form-group col-md-4">
							<label class="col-md-3" for="new-process-clientTypeNumber">Tipo</label>
							<select class="form-control col-md-9" name="todo[clientTypeNumber]" id="new-process-clientTypeNumber">
								<option selected>Elegir...</option>
								<option value="1">Platino</option>
								<option value="2">Oro</option>
								<option value="3">Plata</option>
								<option value="4">Bronce</option>
								<option value="5">Estrategico/Clave</option>
								<option value="6">A exito</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-md-3" for="new-process-priorityNumber">Prioridad</label>
							<select class="form-control col-md-9" name="todo[priorityNumber]" id="new-process-priorityNumber">
								<option selected>Elegir...</option>
								<option value="1">Alta</option>
								<option value="2">Normal</option>
								<option value="3">Baja</option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-3" for="new-process-selection">Selección</label>
							<select class="form-control col-md-9" name="todo[processType]" id="new-process-selection">
								<option selected>Elegir...</option>
								<option value="Recurrente">Recurrente</option>
								<option value="Habitual">Habitual</option>
								<option value="Agil">Agil</option>
								<option value="Expertise">Expertise</option>
								<option value="Estrategica y de impacto">Estratégica y de impacto</option>
								<option value="Otra">Otra</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-md-3" for="new-process-createAt">Inicio</label>
							<input type="date" name="todo[createAt]" class="form-control col-md-9" value="<%=moment().format('YYYY-MM-DD') %>" id="new-process-createAt">
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-3" for="new-process-dateDelivery">Entrega</label>
							<input type="date" name="todo[dateDelivery]" class="form-control col-md-9" id="new-process-dateDelivery">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-md-3" for="new-process-office">Oficina</label>
							<input type="text" name="todo[office]" class="form-control col-md-9" placeholder="Ciudad" id="new-process-office">
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-3" for="new-process-assignUser">Responsable</label>
							<% if(currentUser && currentUser.isAdmin) { %>
								<select	name="todo[assignUser]" class="form-control col-md-9 assignUser" value="<%= currentUser.username %>" id="new-process-assignUser">
									<option>Elige un usuario</option>
								</select>
							<% }else if(currentUser){ %>
								<input type="text" name="todo[assignUser]" class="form-control col-md-9 assignUser" value="<%= currentUser.username %>" id="new-process-assignUser" readonly>
							<% } %>
						</div>
					</div>
					<button class="btn btn-block btn-primary">Crear</button>
					<div class="well well-sm form-result">
						<h4></h4>
						<ul></ul>
					</div>
				</form>
			</div>
		</div><!-- end create new process -->

		<!-- Edit Process -->
		<div class="col-md-6">
			<div id="edit-process">
				<div class="row">
					<div class="col-md-9">
						<h1>Editar Proceso</h1>
					</div>
					<div class="col-md-3">
						<a id="edit-process-close" href="#"><h2 class="glyphicon glyphicon-remove"></h2></a>
					</div>
				</div>
				<form action="" method="POST" id="edit-process-form">
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-6" for="edit-process-name">Nombre del proceso</label>
							<input type="text" class="hidden" id="edit_processId">
							<input type="text" name="todo[name]" class="form-control col-md-9" value="" id="edit-process-name">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-8">
							<label for="edit-process-client" class="col-md-3">Cliente</label>
							<input type="text" class="form-control col-md-9" value="" id="edit-process-client" readonly>
						</div>
						<div class="form-group col-md-4">
							<label class="col-md-3" for="edit-process-clientTypeNumber">Tipo</label>
							<input type="number" class="hidden" value="" id="edit-process-clientTypeNumber">
							<input type="text" class="form-control col-md-9" value="" id="edit-process-clientType" readonly>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-md-3" for="edit-process-priorityNumber">Prioridad</label>
							<select class="form-control col-md-9" name="todo[priorityNumber]" id="edit-process-priorityNumber" value="">
								<option value="1">Alta</option>
								<option value="2">Normal</option>
								<option value="3">Baja</option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-3" for="edit-process-selection">Selección</label>
							<input type="text" class="form-control col-md-9" value="" id="edit-process-selection" readonly>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-md-3" for="edit-process-createAt">Inicio</label>
							<input type="date" class="form-control col-md-9" value="" id="edit-process-createAt" readonly>
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-3" for="edit-process-dateDelivery">Entrega</label>
							<input type="date" name="todo[dateDelivery]" class="form-control col-md-9" value="" id="edit-process-dateDelivery">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-md-3" for="edit-process-office">Oficina</label>
							<input type="text" name="todo[office]" class="form-control col-md-9" value="" id="edit-process-office">
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-3" for="edit-process-assignUser">Responsable</label>
							<% if(currentUser && currentUser.isAdmin) { %>
								<select	name="todo[assignUser]" class="form-control col-md-9 assignUser" value="" id="edit-process-assignUser">
								</select>
							<% }else if(currentUser){ %>
								<input type="text" name="todo[assignUser]" class="form-control col-md-9 assignUser" value="" id="edit-process-assignUser" readonly>
							<% } %>
						</div>
					</div>
					<button class="btn btn-block btn-primary">Actualizar</button>
					<div class="well well-sm form-result">
						<h4></h4>
						<ul></ul>
					</div>
				</form>
			</div>
		</div><!-- end edit process -->

		<!-- Show Process -->
		<div class="col-md-6">
			<div id="show-process">
				<div class="row">
					<div class="col-md-9">
						<h1>Proceso</h1>
					</div>
					<div class="col-md-3">
						<a id="show-process-close" href="#"><h2 class="glyphicon glyphicon-remove"></h2></a>
					</div>
				</div>
				<div class="show-process-container">
					<div class="row show-process">
						<div class="form-group col-md-12">
							<label class="col-md-6" for="show-process-name">Nombre del proceso</label>
							<input type="text" name="todo[name]" class="form-control col-md-9" value="" id="show-process-name" readonly>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-8">
							<label for="show-process-client" class="col-md-3">Cliente</label>
							<input type="text" class="form-control col-md-9" value="" id="show-process-client" readonly>
						</div>
						<div class="form-group col-md-4">
							<label class="col-md-3" for=show-process-"clientTypeNumber">Tipo</label>
							<input type="text" class="form-control col-md-9" value="" id="show-process-clientType" readonly>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-md-3" for="show-process-priorityNumber">Prioridad</label>
							<select class="form-control col-md-9" name="todo[priorityNumber]" id="show-process-priorityNumber" value="" readonly>
								<option value="1">Alta</option>
								<option value="2">Normal</option>
								<option value="3">Baja</option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-3" for="show-process-selection">Selección</label>
							<input type="text" class="form-control col-md-9" value="" id="show-process-selection" readonly>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-md-3" for="show-process-createAt">Inicio</label>
							<input type="date" class="form-control col-md-9" value="" id="show-process-createAt" readonly>
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-3" for="show-process-dateDelivery">Entrega</label>
							<input type="date" name="todo[dateDelivery]" class="form-control col-md-9" value="" id="show-process-dateDelivery" readonly>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-md-3" for="show-process-office">Oficina</label>
							<input type="text" name="todo[office]" class="form-control col-md-9" value="" id="show-process-office" readonly>
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-3" for="show-process-assignUser">Responsable</label>
							<input type="text" name="todo[assignUser]" class="form-control col-md-9 assignUser" value="" id="show-process-assignUser" readonly>
						</div>
					</div>
				</div>
			</div>
		</div><!-- end show process -->

	</div><!-- cierra row -->


	<!-- Modal -->
	<div id="closeForm" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h2 class="modal-title">Cerrar Proceso</h2>
	      </div>
	      <div class="modal-body">
					<form id="close-process-form">
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-6" for="modal-name">Nombre del proceso</label>
								<input type="text" class="form-control col-md-9" value="" id="modal-name" readonly>
								<input type="text" class="hidden" value="" name="todo[id]" id="modal-id">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-3" for="close-process-stateNumber">Estado</label>
								<select class="form-control col-md-9" name="todo[stateNumber]" id="close-process-stateNumber">
									<option value="5" selected>Cerrado</option>
									<option value="6">Anulado</option>
									<option value="7">Anulado por cliente</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-6">
								<label class="col-md-3" for="close-process-closeOrigin">Procendencia</label>
								<select class="form-control col-md-9" name="todo[closeOrigin]" id="close-process-closeOrigin">
									<option value="1" selected>TalentPool</option>
									<option value="2">No TalentPool</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label class="col-md-3" for="close-process-dateClosed">Finalizado</label>
								<input type="date" name="todo[dateClosed]" class="form-control col-md-9" value="<%= moment().format('YYYY-MM-DD') %>" id="close-process-dateClosed" readonly>
							</div>
						</div>
						<button class="btn btn-block btn-success save-modal">Guardar Proceso</button>
					</form>
	      </div>
	      <div class="modal-footer">
					<span class="pull-left proccessTime"></span>
	        <button type="button" class="btn btn-default btn-danger cancel-modal" data-dismiss="modal">Cancelar</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div id="newClientForm" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header newClientHeader">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h2 class="modal-title">Crear Cliente</h2>
	      </div>
	      <div class="modal-body">
					<form id="newClient-process-form">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="newClient-process-newClient" class="col-md-3">Cliente</label>
								<input type="text" class="form-control col-md-9" name="clientData[name]" value="" id="newClient-process-newClient" placeholder="Nombre del nuevo cliente">
							</div>
							<div class="form-group col-md-4">
								<label class="col-md-3" for="newClient-process-newClientTypeNumber">Tipo</label>
								<select class="form-control col-md-9" name="clientData[clientTypeNumber]" id="newClient-process-newClientTypeNumber">
									<option selected>Elegir...</option>
									<option value="1">Platino</option>
									<option value="2">Oro</option>
									<option value="3">Plata</option>
									<option value="4">Bronce</option>
									<option value="5">Estrategico/Clave</option>
									<option value="6">A exito</option>
								</select>
							</div>
	      				</div>
	      				<div class="modal-footer">
							<button class="btn btn-default btn-primary save-client">Guardar Cliente</button>
			        		<button type="button" class="btn btn-default btn-danger cancel-modal" data-dismiss="modal">Cancelar</button>
							<div class="well well-sm form-result-newClient">
								<h4></h4>
								<ul></ul>
							</div>
			      		</div>
					</form>
	    		</div>
	  		</div>
		</div>
	</div>

	<!-- Modal -->
	<div id="changeStateForm" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header changeStateHeader">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title">Cambiar Estado</h2>
				</div>
				<div class="modal-body">
					<form id="change-state-form">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="process-todoName" class="col-md-3">Proceso</label>
								<input type="text" class="form-control col-md-9" value="" id="process-todoName" readonly>
								<input type="text" class="hidden" value="" name="todo[id]" id="process-todoId">
							</div>
							<div class="form-group col-md-4">
								<label for="process-todoName" class="col-md-9">Estado Actual</label>
								<input type="text" class="form-control col-md-9" value="" id="process-todoState" readonly>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-8">
								<label class="col-md-3" for="process-changeState">Estados</label>
								<select class="form-control col-md-9" name="todo[stateNumber]" id="process-changeState">
									<!-- <option selected>Elegir un nuevo estado</option> -->
								</select>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-default btn-primary save-state">Guardar</button>
							<button type="button" class="btn btn-default btn-danger cancel-modal" data-dismiss="modal">Cancelar</button>
							<div class="well well-sm form-result-changeState hidden">
								<h4></h4>
								<ul></ul>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<% include partials/footer %>
